NEXT_PUBLIC_SUPABASE_URL=https://yafhipcokviboywaeyqi.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_publishable_key
SUPABASE_SECRET_KEY=your_server_only_secret_key
WHATSAPP_VERIFY_TOKEN=generate_a_long_random_value
META_APP_SECRET=your_meta_app_secret
WHATSAPP_ACCESS_TOKEN_TENANT_A=your_system_user_access_token
WHATSAPP_GRAPH_VERSION=v25.0
